<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>bundleid</key>
  <string>com.hbliu.alfred.displayctl</string>
  <key>category</key>
  <string>Productivity</string>
  <key>connections</key>
  <dict>
    <key>keyword-doff</key>
    <array>
      <dict>
        <key>destinationuid</key>
        <string>script-doff</string>
        <key>modifiers</key>
        <integer>0</integer>
        <key>modifiersubtext</key>
        <string></string>
        <key>vitoclose</key>
        <false/>
      </dict>
    </array>
    <key>keyword-don</key>
    <array>
      <dict>
        <key>destinationuid</key>
        <string>script-don</string>
        <key>modifiers</key>
        <integer>0</integer>
        <key>modifiersubtext</key>
        <string></string>
        <key>vitoclose</key>
        <false/>
      </dict>
    </array>
  </dict>
  <key>createdby</key>
  <string>With</string>
  <key>description</key>
  <string>通过 displayctl 打开或关闭所有外置屏幕</string>
  <key>disabled</key>
  <false/>
  <key>name</key>
  <string>Display Control</string>
  <key>objects</key>
  <array>
    <dict>
      <key>config</key>
      <dict>
        <key>argumenttype</key>
        <integer>2</integer>
        <key>keyword</key>
        <string>doff</string>
        <key>subtext</key>
        <string>执行 displayctl off</string>
        <key>text</key>
        <string>关闭外置屏幕</string>
        <key>withspace</key>
        <false/>
      </dict>
      <key>type</key>
      <string>alfred.workflow.input.keyword</string>
      <key>uid</key>
      <string>keyword-doff</string>
      <key>version</key>
      <integer>1</integer>
    </dict>
    <dict>
      <key>config</key>
      <dict>
        <key>concurrently</key>
        <false/>
        <key>escaping</key>
        <integer>102</integer>
        <key>script</key>
        <string>/Users/hbliu/bin/displayctl off</string>
        <key>scriptargtype</key>
        <integer>1</integer>
        <key>type</key>
        <integer>0</integer>
      </dict>
      <key>type</key>
      <string>alfred.workflow.action.script</string>
      <key>uid</key>
      <string>script-doff</string>
      <key>version</key>
      <integer>2</integer>
    </dict>
    <dict>
      <key>config</key>
      <dict>
        <key>argumenttype</key>
        <integer>2</integer>
        <key>keyword</key>
        <string>don</string>
        <key>subtext</key>
        <string>执行 displayctl on</string>
        <key>text</key>
        <string>打开外置屏幕</string>
        <key>withspace</key>
        <false/>
      </dict>
      <key>type</key>
      <string>alfred.workflow.input.keyword</string>
      <key>uid</key>
      <string>keyword-don</string>
      <key>version</key>
      <integer>1</integer>
    </dict>
    <dict>
      <key>config</key>
      <dict>
        <key>concurrently</key>
        <false/>
        <key>escaping</key>
        <integer>102</integer>
        <key>script</key>
        <string>/Users/hbliu/bin/displayctl on</string>
        <key>scriptargtype</key>
        <integer>1</integer>
        <key>type</key>
        <integer>0</integer>
      </dict>
      <key>type</key>
      <string>alfred.workflow.action.script</string>
      <key>uid</key>
      <string>script-don</string>
      <key>version</key>
      <integer>2</integer>
    </dict>
  </array>
  <key>readme</key>
  <string>doff：关闭所有外置屏幕\ndon：打开所有外置屏幕\n\n需要预先安装 displayctl。</string>
  <key>uidata</key>
  <dict>
    <key>keyword-doff</key>
    <dict><key>xpos</key><real>100</real><key>ypos</key><real>50</real></dict>
    <key>script-doff</key>
    <dict><key>xpos</key><real>360</real><key>ypos</key><real>50</real></dict>
    <key>keyword-don</key>
    <dict><key>xpos</key><real>100</real><key>ypos</key><real>180</real></dict>
    <key>script-don</key>
    <dict><key>xpos</key><real>360</real><key>ypos</key><real>180</real></dict>
  </dict>
  <key>version</key>
  <string>1.0.0</string>
  <key>webaddress</key>
  <string></string>
</dict>
</plist>
